<div class="git-login">
  <div class="login-git">
    <%= link_to (user_github_omniauth_authorize_path), method: :post do %>
      <h5 id="git_login">GitHubアカウントでログイン</h5>
    <% end %>
  </div>
  <!-- /.login-line -->
</div>
<!-- /.sns-login -->