<div class="sns-login">
  <div class="login-line">
    <%= link_to (user_line_omniauth_authorize_path), method: :post do %>
      <h5 id="line_login">LINEアカウントでログイン</h5>
    <% end %>
  </div>
  <!-- /.login-line -->
</div>
<!-- /.sns-login -->
