<div class="container-fluid py-5 mw-md">
  <div class="contents-title text-center">
    <h4 class="title">やる気あるユーザー(全<%= User.count %>名)</h4>
    <div class="row">
      <div class="col-sm-9">
        <%= render partial: "user", collection: @users %>
        <%= will_paginate @users, :previous_label => ' &lt 前へ', :nex_label => '次へ &gt' %>
      </div>
      <!-- /.col-sm-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- contents-title text-center/ -->
</div>
<!-- / -->
