<%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

 <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>