<h1>アルバイト一覧</h1>
<ul class="list-group">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
    <% end %>
  <% end %>
  <%= link_to '予定を書く', new_event_path, class: "btn btn-secondary btn-lg" %>
</ul>
<!-- /.list-group -->