<h1 class="mt-3">退会の確認</h1>
<!-- /.mt-3 -->
<div id="errors"></div>
<!-- /#errors -->
<p>退会した場合、ユーザーに関するデータが全て削除されます。</p>
<p>ただし、以下の場合は退会できません。</p>

<ul class="list-style">
  <li>公開中の未開催イベントがある場合</li>
  <li>未開催のイベントに参加がある場合</li>
</ul>
<!-- / -->
<hr>
<%= link_to "退会する", retirements_path, method: :post, data: {confirm: "本当に退会しますか"}, class: "btn btn-danger"%>
