/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import "simple_calendar";


// 全体
.container-fluid {
  @extend .container-fluid;
  max-width: 768px;
  padding: 1rem;
}

.base-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-style{
  list-style: auto;
}

// ヘッダー
header {
  box-shadow: 0 0 5px #2f21f1;
}

.nav-item.active {
  margin-top: 5px;
  padding-left: 30px;
}


.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  appearance: none;
  cursor: pointer;
  &,
  span {
    display: inline-block;
    box-sizing: border-box;
  }
  span {
    position: absolute;
    left: 5px;
    width: 80%;
    height: 2px;
    background-color: rgba(165, 165, 165, 1);
    border-radius: 1px;
    &:nth-of-type(1) {
      top: 8px;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      top: 32px;
    }
  }
}

.navbar-toggler[aria-expanded='true'] {
  span.navbar-toggler-icon {
    span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-12px) rotate(315deg);
      }
    }
  }
}


// snsレイアウト
.line-img{
  margin-right: 4px;
}

.line-img img{
  width: 100px;
  margin: 1px 0px 3px -3px;
}

#line_login{
  line-height: 2.5;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
}



#line_login .sns_btn_inner{
  color: #ffffff;
}

.sns_btn_inner{
  font-size: 1.2rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 34px;
}

.sns-login {
  border-style: none;
  width: 100%;
  height: 60px;
  background-color: #00B900;
  border-color: #00B900;
  border-radius: 5px;
  border: 1px #116d11;
}

.login-line{
  height: 60px;
  color: #ffffff;
}

.git-login {
  border-style: none;
  width: 100%;
  height: 30px;
  background-color: #353a40;
  border-color: #353a40;
  border-radius: 5px;
  border: 1px #116d11;
}

#git_login{
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
}

.login-git{
  height: 30px;
  color: #fff;
}


.sns-login :hover{
  border-radius: 5px;
  cursor: pointer;
  background-color: #1eac1e;
}

.git-login :hover{
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(7, 7, 7, 0.733);
}

// 

.center-line{
  position: relative;
  text-align: center;
  height: 1.5rem;
  margin: 1rem 0;
}

.center-line:before{
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  left: 0;
  top: 50%;
}

.center-label{
  display: inline-block;
  background-color: #fff;
  padding: 0 1rem;
  position: relative;
}


.navber {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.pagination {
  justify-content: center;
  padding: 30px;
}

// エラ〜メッセージ
.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; 
  font-weight:850;
}

/* -----------------------------
  エラーメッセージ
-------------------------------*/
.field_with_errors {
  display: contents;
  .form-control{
  border: 1px solid red;
  }
  .notification-contents-area-title{
  border: 1px solid red;
  }
}








