/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "simple_calendar";

// 全体
.event-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 1rem;
}

.line-img{
  margin-right: 4px;
}

.line-img img{
  width: 100px;
  margin: 1px 0px 3px -3px;
}

#line_login{

  color: #ffffff;
}


#line_login .sns_btn_inner{
  color: #ffffff;
}

.sns_btn_inner{
  font-size: 1.2rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 34px;
}

.navber {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
