.exit-btn {
  margin-top: 30px;
}

.event-container-box{
  max-width: 800px;
  margin: 0 auto;
}

.twn-job-detail-img-wrap{
  width: 262px;
    display: table-cell;
    vertical-align: top;
    padding-right: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.job-detail-box-container{
  display: table;
    width: 100%;
    margin-top: 13px;
}

.job-detail-tbl-wrap{
  border-top: 1px solid #ccc;
    border-bottom: 1px solid
}

.job-ditail-tbl-inner{
  position: relative;
    display: table;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
    table-layout: fixed;
}

.job-ditail-tbl-inner>h2{
  display: table-cell;
  background-color: #fefacd;
  font-size: 14px;
  font-weight: 700;
  width: 110px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  vertical-align: top;
  border: 1px solid #f8f2bb;
  border-radius: 3px;
}
