<div class="alert alert-danger">
  <ul class="md-0">
    <% errors.full_messages.each do |message| %>
      <li style="list-style: none;">
        <%= message %>
      </li>
      <!-- /.list-style -->
    <% end %>
  </ul>
  <!-- /.md-0 -->
</div>
<!-- /.alert alert-danger -->
